html
   #toDoList To-Do List
   #canvas
      #outList
         #list
            #listConTop
               input#things(type="text", placeholder="Write something here...")
               button#addList ✚
            #listCon
               #fadeInID
                  #liID •&nbsp;&nbsp; Do the laundry
                  #checkID ✔
                  #delID ✖
               #fadeInID
                  #liID •&nbsp;&nbsp; Go to the supermarket
                  #checkID ✔
                  #delID ✖
               #fadeInID
                  #liID •&nbsp;&nbsp; Nothing to do
                  #checkID ✔
                  #delID ✖